.description{
    flex: 1;
    display: flex;
    flex-direction: column;}
.description>:nth-child(1){
    font-size: 2.5rem;
    font-weight: 700;
    font-style: bold;
}
.description>:nth-child(2){
    font-size: 2.5rem;
    color: #f5c32cee;
    font-style: bold;
}
.description>:nth-child(3){
    margin-top: 1rem;
    color: var(--gray);
    font-size: 14px;
}