.floatingdiv{
    display: flex;
    align-items: center;
    height: 4rem;
    width: 8rem;
    border-radius: 17px;
    background: white;
    box-shadow: var(--boxShadow);
}
.floatingdiv>span{
    flex: 1;
    font-family: sans-serif;
    font-size: 17px;
}
.floatingdiv>img{
    flex: 1;
transform: scale(0.6);
width: 18px;
}
