.experience{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    gap: 5rem;
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievement>:nth-child(2){
    margin-top: 1.5rem;
    font-weight: 700;
}
.achievement>:nth-child(3){
    color: var(--orange);
}
.cirlcle{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    border-radius: 100%;
    background: white;
}
.cirlcle::before{
    border-radius: 100%;
    content: '';
    background-image:  linear-gradient(180deg, #87e6fb 26%, #FCA61F 99%);
    left: -8px;
    right: -8px;
    top: -8px;
    bottom: -8px;
    position: absolute;
    z-index: -1;
}
.cirlcle>span{
    font-size: 27px;
    font-weight: bold;
}